@charset "utf-8";
main {
    width: 100%;
    height: 840px;
    /*background: red;*/
    margin: 10px auto;
    position: relative;
    padding: 5px 0;
}

main .text {
    padding: 10px;
    text-align: center;
    /*font-size: 30px;*/
    color: #554;
}

.text h1 {
    font-size: 50px;
}

.text p {
    width: 60%;
    padding: 5px;
    margin: auto;
    line-height: 30px;
}

main header {
    width: 98%;
    height: 60px;
    margin: 0 auto;
    /*background: gray;*/
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

header p span {
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}

header p span:hover {
    background: #222;
    color: white;
}

section {
    width: 98%;
    height: 600px;
    /*background: red;*/
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

section::-webkit-scrollbar {
    display: none;
}

section .product {
    min-width: 24%;
    height: 90%;
    background: whitesmoke;
    margin: 0 20px 0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;

}

picture {
    width: 100%;
    height: 70%;
    padding: 20px;
    /*background: green;*/
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}

picture img {
    width: 100%;
}

.detail,
.button {
    width: 90%;
    /*background: red;*/
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: #444;
}

small {
    color: #555;
}

a {
    text-decoration: none;
    padding: 6px 14px;
    font-size: 15px;
    margin: 5px 0 0 20px;
    display: inline-block;
    color: white;
}

p.star {
    margin: 5px auto;
    width: 65%;
    font-size: 25px;
    color: #808080;
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 35px;
    }

    .text p {
        width: 90%;
    }

    header h1 {
        font-size: 25px;
    }

    header p span {
        font-size: 30px;
    }

    section .product {
        min-width: 49%;
        margin: 0 10px 0 0;
    }

    .detail, .button {
        font-size: 16px;
    }

    a {
        padding: 6px 10px;
    }
}

.footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    margin-top: 100px;
    color: #707070;
    background-color: #addccf;
    overflow: hidden;
}

.widget_pages ul li, .widget_nav_menu ul li {
    position: relative;
}

.widget_recent_comments ul li, .widget_nav_menu ul li {
    position: relative;
    margin-left: 0px;
    display: block;
}

.widget_nav_menu ul li {
    margin: 5px 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.mb-1, .my-1 {
    margin-bottom: 10px !important;
}

h2 {
    font-family: "Playfair Display", serif;
    line-height: .88em;
    margin-bottom: 20px;
}

h2, .h2 {
    font-size: 32px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #cbbe73;
    line-height: 1.2;
    margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h2, h2 {
    font-size: 30px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footer .col-light {
    position: relative;
    z-index: 0;
    background-color: #f3f3f3;
    color: #212121;
    padding-top: 65px !important;
    padding-left: 45px;
    padding-right: 45px;
    -webkit-box-shadow: 0px 0 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 0px rgba(0, 0, 0, 0.1);
}

.footer > .container > .row > * {
    padding-top: 45px;
}

.footer > .container > .row > * {
    padding-top: 58px;
    padding-bottom: 45px;
}

.footer .col-light {
    position: relative;
    z-index: 0;
    background-color: #f3f3f3;
    color: #212121;
    padding-top: 65px !important;
    padding-left: 45px;
    padding-right: 45px;
    -webkit-box-shadow: 0px 0 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 0px rgba(0, 0, 0, 0.1);
}


